<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/css/main.css') }}">

    <!-- script
    ================================================== -->
    <script src="{{ url_for('static', filename='blog/js/modernizr.js') }}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='blog/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='blog/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='blog/images/favicon-16x16.png') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>

<!-- preloader
================================================== -->
{#    <div id="preloader">#}
{#        <div id="loader" class="dots-fade">#}
{#            <div></div>#}
{#            <div></div>#}
{#            <div></div>#}
{#        </div>#}
{#    </div>#}

<div id="top" class="s-wrap site-wrapper">

    <!-- site header
    ================================================== -->
    <header class="s-header">

        <div class="header__top">
            <div class="header__logo">
                <a class="site-logo" href="{{ url_for('blog.home') }}">
                    Flaskr.
                </a>
            </div>
        </div> <!-- end header__top -->=

        <nav class="header__nav-wrap">

            <ul class="header__nav">
                <li class="{% if g.page == 'home' %}current{% endif %}">
                    <a href="{{ url_for('blog.home') }}" title="">Home</a>
                </li>
                <li class="has-children {% if g.page == 'categories' %}current{% endif %}">
                    <a href="#0" title="">Categories</a>
                    <ul class="sub-menu">
                        {% for category in g.categories %}
                            <li>
                                <a href="{{ url_for('blog.post_by_categories', slug=category.slug) }}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="{% if g.page == 'contact' %}current{% endif %}">
                    <a href="{{ url_for('blog.contact') }}" title="">Contact</a>
                </li>
                {% if g.user %}
                    <li class="has-children user-links-box">
                        <a href="#0" title="">Welcome {{ g.user.first_name }}!</a>
                        <ul class="sub-menu">

                            <li class="{% if g.page == 'profile' %}current{% endif %}">
                                <a href="{{ url_for('blog.profile') }}">Profile</a>
                            </li>

                            <li class="{% if g.page == 'post_create' %}current{% endif %}">
                                <a href="{{ url_for('blog.post_create') }}" title="">New Post</a>
                            </li>

                            {#                                <li><a href="{{ url_for('auth.settings') }}">Settings</a></li>#}
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="user-links-box">
                        <a href="{{ url_for('auth.login') }}">
                            Login to existing account
                        </a>
                    </li>

                    <p style="color: rgba(255, 255, 255, 0.6); text-align: center; margin: 30px 0">
                        OR
                    </p>
                    <li class="user-links-box" style="margin-top: 0">
                        <a href="{{ url_for('auth.register') }}">
                            Create a new account
                        </a>
                    </li>
                {% endif %}
            </ul> <!-- end header__nav -->

        </nav> <!-- end header__nav-wrap -->

        <!-- menu toggle -->
        <a href="#0" class="header__menu-toggle">
            <span>Menu</span>
        </a>

    </header> <!-- end s-header -->

    {% block search %}
        <!-- search
        ================================================== -->
        <div class="s-search">

            <div class="search-block">

                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s"
                               title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#0" title="Close Search" class="search-close">Close</a>

            </div>  <!-- end search-block -->

            <!-- search modal trigger -->
            <a href="#0" class="search-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     style="fill:rgba(0, 0, 0, 1);transform:;-ms-filter:">
                    <path d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z"></path>
                </svg>
                <span>Search</span>
            </a>
            <span class="search-line"></span>

        </div> <!-- end s-search -->
    {% endblock %}

    <div class="s-content">
        <div class="row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center">
                {% for message in get_flashed_messages() %}
                    <h2 class="flash-message" style="color: red; margin-bottom: 50px; text-align: center;}">
                        {{ message }}
                    </h2>
                {% endfor %}
            </div>
            <div class="col-10 card p-5">
                <h2 class="mb-5">Personal Details</h2>
                <form action="{{ url_for('auth.edit_profile') }}" method="post" class="mt-3">
                    <div class="form-group mb-5">
                        <label for="id_email">Email Address</label>
                        <input type="email" class="form-control" id="id_email" name="email"
                               value="{{ g.user.email }}" required>
                    </div>
                    <div class="form-group mt-5 mb-5">
                        <label for="id_first_name">First Name</label>
                        <input type="text" class="form-control" id="id_first_name" value="{{ g.user.first_name }}"
                               required name="first_name">
                    </div>
                    <div class="form-group mt-5">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" class="form-control" id="id_last_name" value="{{ g.user.last_name }}"
                               required name="last_name">
                    </div>
                    <input name="submit" id="submit" style="margin-top: 40px"
                           class="btn btn--primary btn-wide btn--large full-width"
                           value="Update Profile" type="submit">
                </form>
            </div>
            <div class="col-10 card p-5" style="margin-top: 100px">
                <h2 class="mb-5">Password Change</h2>
                <form action="{{ url_for('auth.edit_password') }}" method="post" class="mt-3">
                    <div class="form-group mb-5">
                        <label for="id_old_password">Old Password</label>
                        <input type="password" class="form-control" id="id_old_password" name="old_password" required>
                    </div>
                    <div class="form-group mt-5 mb-5">
                        <label for="id_new_password">New Password</label>
                        <input type="password" class="form-control" id="id_new_password" name="new_password" required>
                    </div>
                    <div class="form-group mt-5">
                        <label for="id_new_password_again">New Password Again</label>
                        <input type="password" class="form-control" id="id_new_password_again" name="new_password_again"
                            required>
                    </div>
                    <input name="submit" id="submit" style="margin-top: 40px"
                           class="btn btn--primary btn-wide btn--large full-width"
                           value="Change Password" type="submit">
                </form>
            </div>
        </div>
    </div>
    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-full footer__content">
                <div class="footer__copyright">
                    <span>© Copyright Typerite 2021</span>
                    <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                </div>
            </div>
        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>
    </footer>

</div> <!-- end s-wrap -->


<!-- Java Script
================================================== -->
<link rel="stylesheet" href="">
<script src="{{ url_for('static', filename='blog/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='blog/js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='blog/js/main.js') }}"></script>

</body>